@charset "UTF-8";
@import "initial";

// 載入思源黑體，使用方式如下
// font-family: 'Noto Sans TC', sans-serif;
// font-weight: 900;
// @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@900&display=swap');

*{
  box-sizing: border-box;
  transition: font-size 0.3s, padding 0.3s, top 0.3s, right 0.3s, width 0.3s, max-width 0.3s, border-radius 0.3s;
}

section{
  padding: 1em;
  article{
    margin: 0 auto;
  }
}

em{
  font-style: normal;
}

ul,ol{
  padding-left: 1.5em;
}

.ossian{
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  padding: 0;
  max-width: 1920px;
  min-height: 100vh;
  line-height: 1.5;
}

// RWD 選單

.nav-bar {
  overflow: hidden;
  position: fixed;
  top: 0;
  // width: 100%;
  background-color: #fff;
  z-index: 9;
  .nav-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    max-width: 1200px;
  }
}

ul.nav {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    margin-right: 2em;
    &:nth-last-child(1) {
      margin-right: unset;
    }
    a {
      display: block;
      padding: 0.75em 0;
      line-height: 1;
      font-size: 1.5em;
      color: black;
      text-align: center;
      text-decoration: none;
      transition: color 0.3s ease;
      > .min-txt{
        font-size: 0.75em;
      }
      &.focus,
      &:hover {
        color: #FF9900;
      }
    }
  }
}

label.switch-open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: fixed;
  top: 1em;
  right: 1em;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
  background-image: url(../images/menu.png);
  background-repeat: no-repeat;
  background-position: center;
  z-index: 8;
  cursor: pointer;
  cursor: pointer;
  + input[type=checkbox] {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    visibility: hidden;
  }
}

// event-1 KV 主視覺

.event-1-kv{
  position: relative;
  padding: unset;
  height: 649px;
  background-image: url(../images/event-1-kv-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  .lager-bar{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 124px;
    background-image: url(../images/event-1-lrg-bar.jpg);
    background-repeat: repeat-x;
    background-position: center;
  }
  .event-1-title{
    position: absolute;
    bottom: 0;
    padding: 1em;
    width: 100%;
    text-align: center;
  }
  .obj{
    position: absolute;
    // bottom: 0;
    background-repeat: no-repeat;
    background-position: center;
  }

  // 撲克牌士兵

  .obj-1{
    // left: calc(50% - 800px);
    width: 576px;
    height: 363px;
    background-image: url(../images/obj-1.png);
  }

  // 精靈男

  .obj-2{
    // left: calc(50% - 420px);
    width: 494px;
    height: 649px;
    background-image: url(../images/obj-2.png);
  }

  // 愛麗絲

  .obj-3{
    // left: calc(50% - 50px);
    width: 527px;
    height: 584px;
    background-image: url(../images/obj-3.png);
  }

  // 沙拉醬

  .obj-4{
    // left: calc(50% + 130px);
    width: 608px;
    height: 614px;
    background-image: url(../images/obj-4.png);
  }
}

// event-1 兌換區、活動說明、鑰匙圈

.event-1-content{
  background-color: $custom-1;
  background-image: url(../images/yellow-bg.png);
  background-repeat: no-repeat;
  background-position: bottom center;
  article{
    padding-top: 2em;
    padding-bottom: 2em;
    &.no-pb{
      padding-bottom: unset;
    }
  }
}

// 全部鑰匙圈

ul.keys{
  display: flex;
  flex-wrap: wrap;
  // align-items: center;
  justify-content: center;
  gap: 1em;
  margin: 0 auto;
  padding: 3em 0;
  list-style: none;
  max-width: 1300px;
  li{
    padding: 0.75em;
    max-width: 280px;
    text-align: center;
    background-color: white;
    background-image: url(../images/water-mark.png);
    background-repeat: no-repeat;
    background-position: top right;
    border-radius: 1.25em;
    figure{
      margin: 0 auto;
      padding: 0;
      max-width: 180px;
      img{
        width: 100%;
      }
    }
    figcaption{
      padding: 0.5em 0;
      em{
        color: $custom-8;
      }
    }
    a,button,input[type="button"]{
      display: inline-block;
      margin: 0 auto;
      padding: 5px 1rem;
      width: 100%;
      color: white;
      font-weight: bold;
      text-decoration: none;
      text-align: center;
      font-size: 1.5em;
      line-height: 1.5;
      border: none;
      outline: note;
      appearance: none;
      border-radius: 10px;
    }
    .status-1{
      display: block;
      cursor: pointer;
    }
    .status-2,
    .status-3{
      display: none;
    }
    &.received,
    &.end{
      color: white;
      background-color: #777777;
      background-image: url(../images/water-mark-gray.png);
      em{
        color: white;
      }
    }
    &.received{
      .status-2{
        display: block;
        color: $color-gray-6;
        background-color: white;
      }
      .status-1,
      .status-3{
        display: none;
      }
    }
    &.end{
      figure{
        img{
          mix-blend-mode: luminosity;
        }
      }
      .status-3{
        display: block;
        color: $color-gray-3;
      }
      .status-1,
      .status-2{
        display: none;
      }
    }
  }
  .status-1{
    background-color: $color-blue-3;
  }
  .status-2,
  .status-3{
    background-color: $color-gray-4;
  }
}

// event-2 KV 主視覺

.event-2-kv{
  padding: 0;
  background-repeat: no-repeat;
  background-position: center;
  article{
    position: relative;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    picture{
      position: absolute;
      bottom: 7%;
      display: block;
      padding: 1em;
      width: 100%;
      text-align: center;
      source,
      img{
        margin: 0 auto;
        width: 100%;
      }
    }
  }
}

// event-2 參加活動、活動說明及童話天外的虛寶

.event-2-content{
  padding: 0;
  background-color: $custom-3;
  article{
    padding: 1em 1em 3em 1em;
    background-image: url(../images/event-2-kv-gift.png);
    background-repeat: no-repeat;
    background-position: left bottom;
  }
}
.event-description,
.event-description dd{
  margin: 0;
  padding: 0;
  border-radius: 1.25em;
}
.event-description{
  margin: 0 auto;
  max-width: 800px;
  dd{
    display: flex;
    align-items: center;
    justify-content: center;
    >.big-btn,button,input[type="button"]{
      display: inline-block;
      margin: 0 auto;
      padding: 5px 1rem;
      max-width: 300px;
      width: 100%;
      font-weight: bold;
      text-decoration: none;
      text-align: center;
      font-size: 1.875em;
      line-height: 1.5;
      border: none;
      outline: note;
      appearance: none;
      border-radius: 10px;
    }
    a{
      color: $custom-4;
    }
  }
}
dd.event-join{
  padding: 2em 1em;
  text-align: center;
  background-color: white;
  border-bottom-left-radius: unset;
  border-bottom-right-radius: unset;
  h3{
    margin: 0;
    padding-top: 0;
    padding-bottom: 0.5em;
  }
  a, button, input[type="button"]{
    color: white;
    background-color: $custom-4;
    border: none;
    outline: note;
    appearance: none;
    cursor: pointer;
    animation: flash 1s infinite;
  }
  .info-btn-padding{
    padding: 0.5em 0 0 0;
  }
  .info-btn{
    display: block;
    padding: 5px 1em;
    max-width: 300px;
    width: 100%;
    line-height: 1.5;
    font-size: 1.5rem;
    background-color: $color-blue-3;
    border: none;
    border-radius: 10px;
    outline: note;
    appearance: none;
    cursor: pointer;
  }
  .status-1{
    display: block;
  }
  .status-2{
    display: none;
  }
  &.logged-in{
    .status-1{
      display: none;
    }
    .status-2{
      display: block;
    }
    a, button, input[type="button"]{
      animation: unset;
    }
  }
}
@keyframes flash {
  0%{
    background-color: $custom-4;
  }
  50%{
    background-color: $color-green-3;
  }
  100%{
    background-color: $custom-4;
  }
}
dd.event-note{
  padding: 1em;
  height: 90px;
  background-color: $custom-4;
  background-image: url(../images/information.png);
  background-repeat: no-repeat;
  background-position: center;
  border-top-left-radius: unset;
  border-top-right-radius: unset;
  button{
    color: $custom-4;
    background-color: white;
    cursor: pointer;
  }
}
ul.reward{
  position: relative;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
  li{
    figure{
      margin: 0 auto;
      padding: 0;
      max-width: 317px;
      transform: translateY(15px);
      img{
        width: 100%;
      }
    }
  }
}
.reward-content{
  padding: 1em;
  width: 100%;
  // height: 100%;
  background-color: $custom-5;
  border: 3px solid $custom-6;
  border-radius: 10px;
}
ul.reward-items{
  margin: 0;
  padding: 0.5em 0 0 0;
  list-style: none;
  // list-style-image: url(../images/list-image.png);
  li{
    padding: 0.5em 0 0.75em 0;
    background-image: url(../images/gift-list-line.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    em{
      color: $custom-4;
      font-family: 'Arial Black', Helvetica, sans-serif;
    }
    mark{
      display: inline-block;
      padding: 0.1em 0.5em 0.15em;
      color: white;
      font-size: 0.9em;
      background-color: $custom-4;
      border-radius: 1em;
    }
  }
}

// 童話世界：任務清單

ul.tasks{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
  margin: 0 auto;
  padding: 3em 0;
  list-style: none;
  max-width: 1600px;
  > li{
    width: 100%;
    max-width: 300px;
    background-color: white;
    border-radius: 1.25em;
    > div{
      text-align: center;
    }
    .task-group{
      display: flex;
      // flex-wrap: wrap;
      flex-direction: column;
      height: 100%;
      > div{
        flex: auto 1 100px;
      }
      .task-title{
        padding: 0.75rem 1rem;
        h3{
          margin: 0;
          padding: 0;
          font-size: 1.5em;
          // text-align: center;
          line-height: 1.15;
          em{
            color: $custom-4;
          }
        }
      }
      .task-content{
        padding: 1rem;
        flex: 1;
        // height: 100%;
        background-color: $custom-1;
        background-image: url(../images/water-mark-2.png);
        background-repeat: no-repeat;
        background-position: left center;
        h4{
          margin: 0;
          padding: 0;
          font-size: 1.25rem;
          width: 100%;
          background-image: url(../images/line.png);
          background-repeat: no-repeat;
          background-position: center;
          em{
            color: $custom-4;
          }
        }
        .gift-text{
          padding: 0.75em;
        }
        ul.gift-pic{
          margin: 0;
          padding: 0;
          list-style: none;
          > li{
            display: inline-block;
            width: 32px;
            img{
              width: 100%;
            }
          }
          &.pb-1{
            padding-bottom: 1em;
          }
        }
      }
      .task-buttons{
        a,button,input[type="button"]{
          display: block;
          margin: 0 auto;
          padding: 5px 1rem;
          width: 100%;
          color: white;
          font-weight: bold;
          text-decoration: none;
          text-align: center;
          font-size: 1.5em;
          line-height: 1.5;
          border: none;
          outline: note;
          appearance: none;
          // border-radius: 10px;
          border-bottom-left-radius: 1.25em;
          border-bottom-right-radius: 1.25em;
        }
        .status-1{
          display: block;
          color: $custom-10;
          background-color: white;
          cursor: pointer;
        }
        .status-2{
          display: none;
          color: $color-gray-6;
          background-color: white;
        }
      }
    }
    &.redeemed{
      .task-group{
        .task-content{
          color: white;
          background-color: $color-gray-7;
          background-image: url(../images/water-mark-2-gray.png);
          h4{
            em{
              color: $custom-7;
            }
          }
        }
        .task-buttons{
          .status-1{
            display: none;
            cursor: pointer;
          }
          .status-2{
            display: block;
          }
        }
      }
    }
  }
}

// 返回首頁

.gohome{
  text-align: center;
  a{
    display: inline-block;
    margin: 0 auto;
    padding: 0.25em 0.5em;
    font-size: 1.875em;
    font-weight: bold;
    color: $custom-10;
    width: 100%;
    max-width: 300px;
    text-align: center;
    text-decoration: none;
    background-color: white;
    border-radius: 10px;
    transition: color 0.3s;
    &:hover{
      color: $custom-10;
    }
  }
}

// 注意事項

.please-note{
  background-color: $custom-1;
  article{
    max-width: $document-default-width;
    h2{
      font-size: 1.875em;
      text-align: center;
    }
  }
  em{
    color: $custom-2;
  }
  &.event-1{
    color: white;
    background-color: $custom-9;
    em{
      color: $custom-5;
    }
    a, a:hover{
      color: $custom-5;
    }
  }
}


// .footer

.footer{
  text-align: center;
  color: $color-gray-6;
  article{
    padding-top: 1.5em;
    padding-bottom: 1.5em;;
  }
}
.lager-logo{
  margin: 0 auto;
  padding-bottom: 0.75em;
  max-width: 119px;
  img{
    width: 100%;
  }
}

// modal

.modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  z-index: 10;
  > .close {
    position: absolute;
    top: 9%;
    right: 5vw;
    font-size: 28px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: transform 1s;
    z-index: 2;
    &:hover{
      transform: rotate(360deg);
    }
  }
}

.modal-content {
  position: relative;
  top: 50%;
  margin: auto;
  padding: 20px;
  // border: 1px solid #888;
  width: 80%;
  max-height: 80%;
  background-color: $custom-1;
  transform: translateY(-80%);
  transition: transform 0.3s ease-in-out;
  border-radius: 1.875em;
  overflow-y: auto;
  overflow-x: hidden;
  > .close {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }    
  h2{
    margin: 0;
    padding-bottom: 1rem;
    font-size: 2.25rem;
    line-height: 1;
    text-align: center;
  }
  h3{
    margin: 0;
    padding: 0.5rem 0;
    font-size: 1.35rem;
  }
  em{
    color: $custom-4;
  }
  span{
    color: $custom-9;
  }
}
.modal-comment{
  padding: 1em;
  background-color: $custom-5;
  border-radius: 10px;
  ul.items{
    padding-bottom: 1em;
    border-bottom: 3px dashed #ebc141;
    &:nth-last-child(1){
      padding-bottom: unset;
      border-bottom: unset;
    }
    li{
      list-style-image: url(../images/gou.png);
      ol{
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        li{
          list-style-image: initial;
        }
      }
    }
  }
}

.fade-in {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}
.fade-in .modal-content{
  transform: translateY(-50%);
  transition: transform 0.3s ease-in-out;
}

.fade-out {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}


// popup

// .popup-1,
.popup-2,
.popup-3,
.popup-4,
.popup-5,
.popup-6{
  display: none;
}
.popup-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  padding: 1rem;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  transition: opacity 0.3s;
  visibility: hidden;
  opacity: 0;
  z-index: 99;
  &:target {
    visibility: visible;
    opacity: 1;
  }
  .popup-overlay-close {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: default;
  }
}
.popup-content {
  position: relative;
  // margin: 1rem;
  padding: 1rem;
  max-width: 380px;
  width: 100%;
  text-align: center;
  font-size: 1.5em;
  color: white;
  background-color: #5a391b;
  background-image: url(../images/sun-mark.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  border: 1px solid #5a391b;
  box-shadow: 1px 1px 1px #7e5129 inset;
  border-radius: 10px;
  .popup-close {
    position: absolute;
    width: 60px;
    height: 60px;
    top: -20px;
    right: -20px;
    text-decoration: none;
    color: #666;
    background-image: url(../images/close-2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transition: all 0.3s;
    &:hover {
      opacity: 1;
    }
  }
}

.yellow-bg{
  padding: 1rem;
  color: #5a391b;
  background-color: #ffe097;
  border: 1px solid #ffe097;
  border-radius: 5px;
  box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.75) inset;
  > .status-1{
    padding-top: 0.5em;
    font-size: 1rem;
    display: block;
  }
  > .status-2{
    display: none;
  }
  &.exchange{
    > .status-1{
      display: none;
    }
    > .status-2{
      display: block;
    }
  }
  form{
    input[type="text"],
    input[type="password"]{
      width: 100%;
      color: white;
      background-color: #7e5129;
      border-color: #7e5129;
    }
    label{
      display: block;
      padding: 0.25em 0;
      text-align: initial;
      color: #5a391b;
    }
  }
  h3{
    margin: 0;
    padding: 0.5rem 0 0;
    color: #ff7144;
    font-size: 1.5rem;
    em{
      color: #5a391b;
      font-style: normal;
    }
  }
  ul.gift-list{
    margin: 0;
    padding: 0.25em 0;
    list-style: none;
    li{
      padding: 0.5em 0 0.5em 1.5em;
      text-align: initial;
      color: #5a391b;
      font-size: 0.75em;
      background-image: url(../images/check.png);
      background-repeat: no-repeat;
      background-position: center left;
      border-bottom: 2px dashed white;
      // background-size: contain;
    }
  }
  + h4{
    margin: 0;
    padding: 0.75rem 0;
  }
}
.collection-method{
  font-size: 1rem;
  em{
    color: $custom-1;
  }
  strong {
    color: $custom-4;
  }
  > a{
    color: $custom-4;
  }
}
.collection-status{
  padding-top: 0.75em;
  select{
    border: 8px solid white;
    border-radius: 5px;
  }
}
.content-description{
    padding: 1em 0;
    font-size: 0.75em;
    color: #5a391b;
    p{
      margin-top: 0;
    }
    a{
      color: #ff7144;
    }
  }
.games-list{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25em;
  margin: 0;
  padding: 0;
  list-style: none;
  li{
    a{
      padding: 0 0.5em;
      display: block;
      text-decoration: none;
      max-width: 120px;
      background-color: #af6827;
      border-radius: 5px;
      border: 1px solid #af6827;
      box-shadow: 0 1px 1px #ffae5f inset, 0 -1px 1px #ffae5f inset;
      img{
        width: 100%;
      }
    }
  }
}
.option-games{
  position: relative;
  cursor: pointer;
  input[type="radio"]{
    display: none;
    &:checked{
      + .custom-style{
        background-color: $custom-4;
      }
    }
    
    + .custom-style{
      padding: 1em 0.5em;
      width: 106px;
      height: 85px;
      background-color: $custom-5;
      background-repeat: no-repeat;
      background-position: center;
      border: 3px solid transparent;
      border-radius: 10px;
      transition: border 0.3s, background-color 0.3s;
      &:hover{
        border: 3px solid white;
      }
      &.game-1{
        background-image: url(../images/game-1.png);
      }
      &.game-2{
        background-image: url(../images/game-2.png);
      }
    }
  }
}
.msg-bar{
  display: none;
  text-align: center;
  font-size: 1rem;
  color: $custom-4;
}
.button-row{
  padding: 0.5em 0 0;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  gap: 0.25em;
  .button{
    padding: 0.45em 0.65em 0.35em;
    min-width: 4.5em;
    width: 90%;
    color: white;
    text-decoration: none;
    background-color: #5da70e;
    border-radius: 3em;
    border: 1px solid #5da70e;
    box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.75) inset;
    appearance: none;
    cursor: pointer;
    &.black{
      color: #bf834c;
      background-color: #341e09;
      border-color: #341e09;
      box-shadow: 1px 1px 1px #855225 inset;
    }
  }
}

.reCAPTCHA{
  margin: 0 auto;
  padding: 0.5em 0;
  text-align: center;
  max-width: 232px;
  width: 100%;
  img{
    width: 100%;
  }
}


// slick

.slider {
  width: 80%;
  margin: 0 auto;
  padding: 2em 0 1em 0;
}

.slick-slide {
  margin: 0px;
}

.slick-slide img {
  width: 100%;
}

.slick-prev:before,
.slick-next:before {
  color: white;
}


.slick-slide {
  transition: all ease-in-out .3s;
  opacity: 1;
}

// .slick-active {
//   opacity: 1;
// }

// .slick-current {
//   opacity: 1;
// }

// RWD 自適應設定

@import "rwd";